@import "variables";

.root {
  position: relative;
  overflow: auto;
}

.gameImg {
  width: 125rem;
  cursor: crosshair;
}

.characterList,
.announce {
  width: max-content;
  position: absolute;
  background-color: $color-white;
  padding: 0.5rem;
  border-radius: $main-border-radius;
  box-shadow: 3px 3px $color-main-1;
}

.character {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: $main-border-radius;
  user-select: none;
  cursor: pointer;

  > img {
    height: 2rem;
  }

  &:hover {
    background-color: $color-grey;
  }
}

.congratulate {
  font-weight: bold;
  background-color: $color-correct;
  color: $color-white;
  box-shadow: 3px 3px $color-main-2;
}

.mistake {
  font-weight: bold;
  background-color: $color-mistake;
  color: $color-white;
  box-shadow: 3px 3px $color-mistake-2;
}
