.root {
  padding: 1rem;
}

.heading {
  text-align: center;
}

.gameStats {
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.characters {
  display: flex;
  justify-content: center;
  height: 5rem;
  gap: 1rem;
}

.found {
  opacity: 0.5;
}
