@import "variables";

.root {
  padding: 1rem;
}

.heading {
  text-align: center;
  margin-bottom: 1rem;

  h1 {
    margin-bottom: 0.5rem;
    font-size: 5rem;
    color: $color-main-2;
    text-shadow: $text-shadow-heading;
  }

  p {
    font-weight: bold;
    text-shadow: $text-shadow-white;
  }
}

.gameStats {
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  h2 {
    font-size: 3.5rem;
    color: $color-mistake-2;
    text-shadow: $text-shadow-heading;
  }

  @media (max-width: 500px) {
    justify-content: center;
    gap: 1rem;
  }
}

.characters {
  display: flex;
  justify-content: center;
  height: 5rem;
  gap: 1rem;
}

.found {
  opacity: 0.3;
}
