@import "variables";

:root {
  font-size: 12px;
  font-family: $font-family-standard;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: radial-gradient($color-main-1-gradient, $color-main-1);
}

main {
  flex-grow: 1;
}

a,
p {
  font-size: $font-size-standard;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 2rem;
}

input {
  line-height: 3rem;
  font-family: inherit;
  font-size: 2rem;
  outline: none;
}
