@import "variables";

.root {
  padding: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  // border: 2px solid $color-grey;
  border-radius: $main-border-radius;

  thead {
    background-color: $color-main-2;
    border-bottom: 2px solid $color-grey;
  }

  tbody tr {
    &:nth-child(even) {
      background-color: $color-grey;
    }
  }

  td,
  th {
    padding: 1rem 2rem;
    text-align: left;

    &:first-child {
      max-width: 3rem;
    }
  }
}
