@import "variables";

.root {
  padding: 1rem;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: $main-border-radius;

  thead {
    background-color: $color-main-2;
    border-bottom: 2px solid $color-grey;
    text-shadow: $text-shadow-white;
  }

  tbody tr {
    text-shadow: $text-shadow-white;

    &:first-child {
      color: $color-main-1;
      text-shadow: $text-shadow-alt;
      font-weight: bold;
    }

    &:nth-child(even) {
      background-color: $color-grey;
    }

    &:nth-child(odd) {
      background-color: $color-white;
    }
  }

  td,
  th {
    font-size: 2.5rem;
    padding: 0.5rem;
    text-align: left;
    overflow: hidden;

    &:first-child {
      font-weight: bold;
      text-align: center;
      width: 5%;
    }

    &:nth-child(2) {
      width: 55%;
    }

    @media (max-width: 500px) {
      text-align: center;
    }
  }
}
